<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.sdch.mapper.IndexMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.sdch.model.Index">
        <id column="INDICE" jdbcType="VARCHAR" property="indice"/>
        <result column="SHARDS" jdbcType="INTEGER" property="shards"/>
        <result column="REPLICAS" jdbcType="INTEGER" property="replicas"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="CATEGORY" jdbcType="VARCHAR" property="category"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        INDICE,
        SHARDS,
        REPLICAS,
        DESCRIPTION,
        CATEGORY,
        CREATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_index
        where INDICE = #{indice,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_index
        where INDICE = #{indice,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="edu.zju.gis.sdch.model.Index">
        insert into tb_index (INDICE, SHARDS, REPLICAS, DESCRIPTION, CATEGORY, CREATE_TIME)
        values (#{indice,jdbcType=VARCHAR}, #{shards,jdbcType=INTEGER}, #{replicas,jdbcType=INTEGER},
                #{description,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="edu.zju.gis.sdch.model.Index">
        insert into tb_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="indice != null">
                INDICE,
            </if>
            <if test="shards != null">
                SHARDS,
            </if>
            <if test="replicas != null">
                REPLICAS,
            </if>
            <if test="dtype != null">
                DTYPE,
            </if>
            <if test="geoType != null">
                GEO_TYPE,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="category != null">
                CATEGORY,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="size != null">
                SIZE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="indice != null">
                #{indice,jdbcType=VARCHAR},
            </if>
            <if test="shards != null">
                #{shards,jdbcType=INTEGER},
            </if>
            <if test="replicas != null">
                #{replicas,jdbcType=INTEGER},
            </if>
            <if test="dtype != null">
                #{dtype,jdbcType=VARCHAR},
            </if>
            <if test="geoType != null">
                #{geoType,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="size != null">
                #{size,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.zju.gis.sdch.model.Index">
        update tb_index
        <set>
            <if test="shards != null">
                SHARDS = #{shards,jdbcType=INTEGER},
            </if>
            <if test="replicas != null">
                REPLICAS = #{replicas,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                CATEGORY = #{category,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where INDICE = #{indice,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.sdch.model.Index">
        update tb_index
        set SHARDS      = #{shards,jdbcType=INTEGER},
            REPLICAS    = #{replicas,jdbcType=INTEGER},
            DESCRIPTION = #{description,jdbcType=VARCHAR},
            CATEGORY    = #{category,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        where INDICE = #{indice,jdbcType=VARCHAR}
    </update>
</mapper>